@import "tailwindcss";

@theme {
  --color-primary-50: #edfbff;
  --color-primary-100: #d7f4ff;
  --color-primary-200: #b9edff;
  --color-primary-300: #88e4ff;
  --color-primary-400: #50d2ff;
  --color-primary-500: #28b7ff;
  --color-primary-600: #0496ff;
  --color-primary-700: #0a81eb;
  --color-primary-800: #0f67be;
  --color-primary-900: #135895;
  --color-primary-950: #11365a;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply text-zinc-200 bg-neutral-800;
  }

  body {
    @apply flex items-center justify-center min-w-[320px] min-h-screen;
  }

  h1, h2, h3 {
    @apply font-bold text-primary-600;
  }

  h1 {
    @apply text-[3.2em];
  }

  h2 {
    @apply text-[1.6em];
  }

  h3 {
    @apply text-[1.1em];
  }

  a {
    @apply transition-colors duration-300;
  }

  a:hover {
    @apply text-primary-600 underline;
  }
}

@layer components {
  button {
    @apply bg-primary-600 rounded cursor-pointer transition-colors duration-300;
  }

  button:hover {
    @apply bg-primary-500;
  }

  button:focus, button:focus-visible {
    @apply outline-1 outline-white;
  }

  button.destructive {
    @apply bg-red-500 transition-colors duration-300;
  }
  
  button.destructive:hover {
    @apply bg-red-400;
  }

  button.destructive:focus, button.destructive:focus-visible {
    @apply outline-1 outline-white;
  }

  button:disabled {
    @apply bg-gray-600 cursor-not-allowed;
  }
}
